%fieldset
  = f.label :name
  = f.text_field :name, type: 'text', placeholder: 'room type name'

%fieldset
  = f.label :min_temperature
  = f.text_field :min_temperature, type: 'text'
%fieldset
  = f.label :max_temperature
  = f.text_field :max_temperature, type: 'text'
%button.btn.btn-primary
  = fa_icon 'save'
