- content_for(:title) do
  Admin - Room Types

%section.card
  %header
    %h2 Room Types
  %table
    %thead
      %tr
        %th Name
        %th Min temp
        %th Max temp
    %tbody
      - @room_types.order(:name).each do |room_type|
        %tr
          %td= room_type.name
          %td
            = display_reading(Reading.new(value: room_type.min_temperature, key: 'temperature'))
          %td
            = display_reading(Reading.new(value: room_type.max_temperature, key: 'temperature'))
          %td.actions
            - if policy(room_type).edit?
              = render 'common/buttons/edit', link_path: edit_admin_room_type_path(room_type)
          %td.actions
            - if policy(room_type).edit?
              = render 'common/buttons/delete', link_path: admin_room_type_path(room_type)

- if policy(:room_type).new?
  = render 'common/buttons/add', link_path: new_admin_room_type_path