%section.card


  %h2
    add new room_type
  %p
    = form_for RoomType.new, url: { action: 'create' } do |f|
      = render 'form', f: f

%section.card
  %header
    %h2 Room types
  %table.pure-table
    %thead
      %tr
        %th Name
        %th Min temp
        %th Max temp
    - @room_types.order(:name).each do |ht|
      %tr
        %td= ht.name
        %td= ht.min_temperature
        %td= ht.max_temperature
        %td
          = link_to edit_admin_room_type_path(ht) do
            edit
            = fa_icon 'edit'
        %td
          = link_to admin_room_type_path(ht),
            method: :delete,
            data: { confirm: 'delete this room_type?' } do
            delete
            = fa_icon 'trash'
