%section.card
  %header
    %h2 Room types
  %table.pure-table
    %thead
      %tr
        %th Name
        %th Min temp
        %th Max temp
    - @room_types.order(:name).each do |ht|
      %tr
        %td= ht.name
        %td= display_reading(Reading.new(value: ht.min_temperature, key: 'temperature'))
        %td= display_reading(Reading.new(value: ht.max_temperature, key: 'temperature'))
        %td.actions
          = link_to edit_admin_room_type_path(ht), class: "table-action edit" do
            %img.svg{alt: "edit", src: image_path("icon/edit.svg") }/
          = link_to admin_room_type_path(ht),
            method: :delete, class: 'table-action del',
            data: { confirm: 'delete this room_type?' } do
            %img.svg{alt: "remove", src: image_path("icon/del.svg") }/

= link_to "Add", new_admin_room_type_path, class: 'btn'