- content_for :title, 'Messages'

%section.card
  %header
    %h2 Messages


  %p= paginate(@messages)
  %table.pure-table
    %tr
      %th Home
      %th sensor
      %th Timestamp
      %th topic
      %th payload

    - @messages.each do |message|
      %tr
        %td= link_to message.sensor.home.name, home_path(message.sensor.home)
        %td= link_to message.sensor.id, sensor_path(message.sensor)
        %td= message.created_at.localtime
        %td= message.topic
        %td= sprintf '%.2f', message.payload
