
%li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
  %a.pure-menu-link Admin
  %ul.pure-menu-children
    - if policy(:home).index?
      %li.pure-menu-item
        = link_to 'Whare', homes_path, class: 'pure-menu-link'
    - if policy(:home_type).edit?
      %li.pure-menu-item
        = link_to 'Whare Types', admin_home_types_path, class: 'pure-menu-link'
    - if policy(:room_type).edit?
      %li.pure-menu-item
        = link_to 'Room Types', admin_room_types_path, class: 'pure-menu-link'
    - if policy(:user).edit?
      %li.pure-menu-item
        = link_to 'Users', admin_users_path, class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to 'MQTT Provisioning', admin_mqtt_users_path, class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to 'Messages', messages_path, class: 'pure-menu-link'
