= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  %section.card.pre-log
    .img{style: "background-image: url(#{image_url('placeholder-illy2.jpg')})"}
    .text
      %h2.secondary Create an account
      = devise_error_messages!
      %ul.form-row
        %li
          = f.label :email
          = f.email_field :email, autofocus: true

        %li
          = f.label :password
          - if @minimum_password_length
            %em (#{@minimum_password_length} characters minimum)
          = f.password_field :password, autocomplete: 'off'

        %li
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: 'off'

        %li
          %ul.form-controls
            %li
              %label
                %input{name: "terms", type: "checkbox", value: "accept"}>/
                I accept Whare Hauora’s
                %a.underline{href: "#"} terms and conditions
        %li
          -# %a.btn.submit{href: "#"} Sign Up
          %li= f.submit 'Sign up'

    %footer
      = render 'devise/shared/links'
