%p Median Temperatures right now

%table.public_matrix.pure-table.pure-table-bordered
  %tr
    %thead
      %th
        = '..'
      - @home_types.each do |home_type|
        %th
          = home_type.name
  - @room_types.each do |room_type|
    %tr
      %th
        = room_type.name
      - @home_types.each do |home_type|
        %td
          - if @temperature[[home_type.id, room_type.id]].present?
            = @temperature[[home_type.id, room_type.id]]
            C
          - if @humidity[[home_type.id, room_type.id]].present?
            = @humidity[[home_type.id, room_type.id]]
            = '%'

%p
  Based on data from
  = Sensor.count
  sensors in
  = Home.count
  installations in Wellington

= line_chart opendata_readings_path(key: 'temperature', day: @day)
= line_chart opendata_readings_path(key: 'humidity', day: @day)
