
%h2 Aggregate Public Data

%p Median Temperatures right now

%table.pure-table.pure-table-bordered
  %tr
    %th
    - @home_types.each do |home_type|
      %th
        = home_type.name
  - @room_types.each do |room_type|
    %tr
      %th
        = room_type.name
      - @home_types.each do |home_type|
        %td
          - if @temperature[home_type.id][room_type.id].present?
            = @temperature[home_type.id][room_type.id]
            C
          - if @humidity[home_type.id][room_type.id].present?
            = @humidity[home_type.id][room_type.id]
            = '%'
