
%h1 Whare types

- if policy(:home_type).new?
  %p
    = link_to new_admin_home_type_path, class: 'btn' do
      Add
      = fa_icon 'plus'

%section.card
  %header
    %h2 Whare Types
  %table
    %thead
      %tr
        %th Name
    %tbody
      - @home_types.each do |ht|
        %tr
          %td= ht.name
          - if policy(ht).edit?
            %td
              = link_to edit_admin_home_type_path(ht) do
                edit
                = fa_icon 'edit'
          - if policy(ht).destroy?
            %td
              = link_to admin_home_type_path(ht),
                method: :delete, data: { confirm: 'delete this home type?' } do
                delete
                = fa_icon 'trash'
