%h2 Home types

= link_to 'new', new_admin_home_type_path

%table.pure-table
  %thead
    %tr
      %th Name
      %th Whare
      %th action
  - @home_types.each do |ht|
    %tr
      %td
        = ht.name
      %td
        = ht.homes.size
      %td
        = link_to 'edit', edit_admin_home_type_path(ht)
        = link_to 'delete', admin_home_type_path(ht),
          method: :delete, data: { confirm: 'delete this home type?' }
