/ %input{type: "name", placeholder: "Name of home"}
%fieldset
  = f.text_field :name, type: 'text', placeholder: 'Name of home'

%fieldset
  - HomeType.all.each do |ht|
    %p
      = f.radio_button :home_type_id, ht.id
      = f.label :home_type_id, ht.name

%fieldset
  = f.label :is_public
  = f.check_box :is_public, label: 'Public?'
