%fieldset
  = f.text_field :name, type: 'text', placeholder: 'Name of home'

%fieldset
  - HomeType.all.each do |ht|
    %p
      = f.radio_button :home_type_id, ht.id
      = f.label :home_type_id, ht.name
%p
  = f.label :gateway_mac_address
  = f.text_field :gateway_mac_address

%fieldset
  = f.label :is_public
  = f.check_box :is_public, label: 'Public?'
