- if @home.present? && @home.id.present?
  %h6= @home.name
  %ul.nav-links
    %li= link_to 'Dashboard', home_rooms_path(@home), class: 'current'

  %h6 Rooms
  %ul.nav-links
    - @home.rooms.order(:name).each do |room|
      %li= link_to room.name, room_path(room)
  %h6 Setup
  %ul.nav-links
    %li= link_to 'Whānau', home_home_viewers_path(@home)
  
- else
  %h6 Whare
  %ul.nav-links
    - current_user.homes.each do |home|
      %li= link_to home.name, home_rooms_path(home)