
.pure-menu.pure-menu-horizontal
  %ul.pure-menu-list
    %li.pure-menu-item
      = link_to 'charts', home_path(home), class: 'pure-menu-link'
    %li.pure-menu-item
      = link_to 'rooms', home_rooms_path(home), class: 'pure-menu-link'
    %li.pure-menu-item
      = link_to 'sensors', home_sensors_path(home), class: 'pure-menu-link'
    -# %li.pure-menu-item
    -#   = link_to 'readings', home_readings_path(home), class: 'pure-menu-link'
    - if policy(home).edit?
      %li.pure-menu-item
        = link_to 'whÄnau', home_home_viewers_path(home), class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to 'edit whare', edit_home_path(home), class: 'pure-menu-link'
