.pure-menu.pure-menu-horizontal
  %ul.pure-menu-list
    %li.pure-menu-item
      = link_to home_path(home), class: 'pure-menu-link' do
        charts
        = fa_icon 'line-chart'
    %li.pure-menu-item
      = link_to home_rooms_path(home), class: 'pure-menu-link' do
        rooms
        = fa_icon 'thermometer-full'
    - if policy(home).edit?
      %li.pure-menu-item
        = link_to home_home_viewers_path(home), class: 'pure-menu-link' do
          whÄnau
          = fa_icon 'users'
      %li.pure-menu-item
        = link_to edit_home_path(home), class: 'pure-menu-link' do
          edit home
          = fa_icon 'edit'
      - if @room.present?
        %li.pure-menu-item
          = link_to edit_room_path(@room), class: 'pure-menu-link' do
            edit room
            = fa_icon 'edit'
      - if current_user.janitor?
        %li.pure-menu-item
          = link_to home_mqtt_user_index_path(home), class: 'pure-menu-link' do
            gateway
