
= paginate homes
%table.pure-table
  %thead
    %tr
      %th.sortable
        Name
      %th
        Type
      %th
        Owner
      %td
        Rooms
      %td
        Sensors
  %tbody
    - homes.each do |home|
      %tr
        %td
          = link_to home.name.present? ? home.name : 'unnamed home', home_path(home)
        %td
          = home.home_type.name
        %td
          = home.owner.email
        %td
          - if home.rooms.count.positive?
            = link_to("#{home.rooms.count} rooms", home_rooms_path(home))
        %td
          - if home.sensors.count.positive?
            = link_to("#{home.sensors.count} sensors", home_sensors_path(home))
        %td
          - if policy(home).edit?
            = link_to 'edit', edit_home_path(home)
          - if policy(home).destroy?
            = link_to 'delete', home_path(home),
              method: :delete, data: { confirm: 'delete this home?' }
= paginate homes
