
= paginate homes

%table.pure-table
  %thead
    %tr
      %th.sortable
        Name
      %th
        Type
      %th
        Owner
      %th
        Rooms
      %th
        Whanau
      %th
        Sensors
  %tbody
    - homes.each do |home|
      %tr
        %td
          = link_to home.name.present? ? home.name : 'unnamed home', home_path(home)
        %td
          = home.home_type&.name
        %td
          = home.owner&.email
        %td
          - if home.rooms.size.positive?
            = link_to("#{home.rooms.size} rooms", home_rooms_path(home))
        %td= home.users.size
        %td
          - if home.sensors.size.positive?
            = link_to("#{home.sensors.size} sensors", home_sensors_path(home))
        - if policy(home).edit?
          %td
            = link_to edit_home_path(home) do
              edit
              = fa_icon 'edit'
        - if policy(home).destroy?
          %td
            = link_to home_path(home), method: :delete, data: { confirm: 'delete this home?' } do
              delete
              = fa_icon 'trash'

= paginate homes
