%h2
  = @home.name
= render 'nav', home: @home

.pure-g
  .pure-u-1-2
    %h3 My Whare
    .pure-form
      = form_for @home, url: { action: 'update' } do |f|
        %legend Home name
        = render 'form', f: f, home_types: @home_types
        %fieldset
          %button.pure-button.pure-button-primary Save
          = link_to 'Delete', home_path(@home), method: :delete, class: 'pure-button'
