- content_for(:title) do
  Your Whare

- if @homes.empty?
  %p
    Welcome to Whare Hauora.
    %li Let's #{link_to 'add your whare', new_home_path, class: 'underline'}

- else

  %section.card
    %header
      %h2 Whare

    %table.pure-table
      %thead
        %tr
          %th Name
          %th Type
          %th Owner
          %th Rooms
          %th Sensors
      %tbody
        - @homes.each do |home|
          %tr
            %td
              = link_to home.name, home_path(home)
            %td
              = home.home_type&.name
            %td
              = home.owner&.email
            %td
              - if home.rooms.size.positive?
                #{home.rooms.size} rooms
            %td
              - if home.sensors.size.positive?
                #{home.sensors.size} sensors
            %td.actions
              - if policy(home).edit?
                = render 'common/buttons/edit', link_path: edit_home_path(home)
              - if policy(home).destroy?
                = render 'common/buttons/delete', link_path: home_path(home)


      %footer
        = paginate @homes

  - if policy(:home).new?
    = render 'common/buttons/add', link_path: new_home_path
