%h2
  My Home:
  = @home.name
%p
  = link_to "Edit home name", edit_home_path(@home)

- unless (@home.sensors.empty?)
  %h2 Temperature
  = line_chart(@temperature)

  %h2 Humidity
  = line_chart(@humidity)

  %h2 Sensors
  = render "sensors", sensors: @home.sensors

