%h2
  = @home.name

= render 'nav', home: @home

- unless @home.rooms.empty?
  %h3 #{@day} Readings

  %form.pure-form
    %label
      Day
      = date_field_tag :day, @day
    %button.pure-button.pure-button-primary
      Search

  - @keys.each do |key|
    %h3= key
    = line_chart readings_path(home_id: @home.id, day: @day, key: key),
      title: "#{@day} #{key}"
