= render 'nav', home: @home

%h2= @home.name

- if policy(:mqtt_user).create? && @home.mqtt_user.blank?
  %p
    %strong MQTT user not provisioned yet
  - if @home.gateway_mac_address.present?
    %p
      = link_to 'Provision', admin_mqtt_users_path(home_id: @home.id),
        method: 'post', class: 'btn'

- unless @home.rooms.empty?
  %h3 #{@day} Readings
  %form.pure-form
    %label
      Day
      = date_field_tag :day, @day
    %button.btn.btn-primary
      Search
  .pure-g
    - @keys.each do |key|
      .pure-u-1.pure-u-md-1-2
        %h3= key
        = line_chart readings_path(home_id: @home.id, day: @day, key: key),
          title: "#{@day} #{key}"
