%h2
  = @home.name

- if policy(@home).edit?
  .pure-menu.pure-menu-horizontal
    %ul.pure-menu-list
      %li.pure-menu-item
        = link_to 'edit home', edit_home_path(@home), class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to 'edit users', home_home_viewers_path(@home), class: 'pure-menu-link'

.pure-g
  .pure-u-2-3
    = render 'sensors', sensors: @home.sensors

- unless @home.sensors.empty?
  %h3 Readings since #{@since.day.ago.to_formatted_s(:short)}
  .pure-g
    .pure-u-1-2
      %h3 Temperature
      = line_chart(@temperature)
    .pure-u-1-2
      %h3 Humidity
      = line_chart(@humidity)
