%h2
  My Home:
  = @home.name
%p
  = link_to "Edit home name", edit_home_path(@home)
  = link_to "Add a room", new_home_room_path(@home)

- unless (@rooms.empty?)
  %h3 Sensors
  = render "rooms", rooms: @rooms

- unless(@unassigned.empty?)
  %h3 Sensors not assigned to rooms:
  = render "unassigned", sensors: @unassigned, rooms: @rooms