= render 'homes/nav', home: @home
%h2 DEBUG



.conditions-tables.pure-g
  .conditions-table.conditions-table-good.pure-u-1-1
    .conditions-table-header
      %h2 Gateway Version
      %span.conditions-table-current
        %div
          - if @gateway.present?
            = @gateway.version
          - else
            unknown
    - if @gateway.present?
      %ul.conditions-table-list
        %li
          first connection
          = timeago_tag @gateway.created_at, limit: 365.days.ago
          = @gateway.created_at.localtime
        %li
          last connection
          = timeago_tag @gateway.updated_at, limit: 365.days.ago
          = @gateway.updated_at.localtime


    - if @home.mqtt_user
      %p
        Username:
        %b= @home.mqtt_user.username
      %p
        Password:
        %b= @home.mqtt_user.password
    - else
      %p Gateway mqtt user has not been provisioned yet


    - if @home.gateway_mac_address.blank?
      %p Cannot provision home with no mac address set

    - unless @gateway.present?
      %p No known successful connections from gateway
