%h2
  Sensor
  = sensor.node_id
  in
  = sensor.home.name
.pure-g
  .pure-u-md-1.pure-u-lg-1-2
    = f.fields_for :room do |room_form|
      %h4 New room
      = room_form.text_field :name

  - if @rooms.size.positive?
    .pure-u-md-1.pure-u-lg-1-2
      %h4 Existing rooms
      - @rooms.each do |room|
        .pure-u-1-3
          = f.radio_button :room_id, room.id
          = f.label :room_id, room.name
  .pure-u-1
    %button.btn.btn-primary
      Save
