%header
  %h2 Sensor #{sensor.node_id} in #{sensor.home.name}
  %ul.form-row
    = f.fields_for :room do |room_form|
      %h2 create new room
      %li
        = room_form.text_field :name

    - if @rooms.size.positive?
      %h2 or assign to an existing room
      - @rooms.each do |room|
        %li
          = f.radio_button :room_id, room.id
          = f.label :room_id, room.name
  .pure-u-1
    %button.btn.btn-primary
      Save
