= form_for(@sensor) do |f|
  %section.card
    %header
      %h2 Assign Sensor to a room
    %p Sensor #{@sensor.node_id} in #{@sensor.home.name}
    %ul.form-row
      = f.fields_for :room do |room_form|
        %label create new room
        %li
          = room_form.text_field :name, placeholder: 'new room name'

      - if @rooms.size.positive?
        %label or assign to an existing room
        - @rooms.order(:name).each do |room|
          %li
            = f.radio_button :room_id, room.id
            = f.label :room_id, room.name
    %footer
      = link_to 'Cancel', home_rooms_path(@sensor.home), class: 'btn'
      %button.btn Save
