%h2
  = @home.name

= render 'homes/nav', home: @home

- if @sensors.present?
  = paginate(@sensors)
  %table.pure-table
    %thead
      %tr
        %th.sortable Sensor
        %th Room
        %td First message
        %td Last message
        %th Message count
        %th
    %tbody
      - @sensors.each do |sensor|
        %tr
          %td
            = sensor.node_id
          %td
            = sensor.room&.name
          %td
            = sensor.messages.first&.updated_at
          %td
            = sensor.messages.last&.updated_at
          %td
            = link_to sensors.messages.count, messages_path(sensor.id)
          %td
            - if current_user.role? 'janitor'
              = link_to 'delete', "/sensors/#{sensor.id}",
                method: :delete, data: { confirm: 'delete this sensor?' }

  = paginate(@sensors)
- else
  %p No sensors detected in this whare.
