= render 'homes/nav', home: @home

%h2= @home.name

- if @sensors.present?
  .information
    %%p= paginate(@sensors)

    %table.pure-table
      %thead
        %tr
          %th.sortable Sensor
          %th Room
          %td Last message
      %tbody
        - @sensors.each do |sensor|
          %tr
            %td= sensor.node_id
            %td= sensor.room&.name
            %td= time_ago_in_words sensor.messages.last&.updated_at if sensor.messages.last
            %td
              = link_to edit_sensor_path(sensor), class: 'pure-button edit-button' do
                = fa_icon 'edit'
                edit
            %td
              - if current_user.role? 'janitor'
                = link_to sensor_path(sensor),
                  method: :delete,
                  data: { confirm: 'delete this sensor?' },
                  class: 'pure-button delete-button' do
                  = fa_icon 'trash'
                  delete

  %%p= paginate(@sensors)
- else
  %p No sensors detected in this whare.
