%h2
  Sensor
  = @sensor.node_id

%p
  Home:
  = link_to @sensor.home.name, @sensor.home

%p
  Room:
  = @sensor.name

%p
  = link_to "delete", sensor_path(@sensor), method: :delete

= render "readings", readings: @sensor.readings