%h2
  Sensor
  = @sensor.node_id

%p
  Home:
  = @sensor.room.home.name

%p
  Room:
  = @sensor.room.name

%p
  = link_to "delete", sensor_path(@sensor), method: :delete

= render "readings", readings: @sensor.readings