%h2
  Sensor
  = @sensor.node_id
  in
  = @sensor.room_name

%p
  Home:
  = link_to @sensor.home.name, @sensor.home

%h2 Temperature
= area_chart(@temperature)

%h2 Humidity
= area_chart(@humidity)


%h2 Readings
= render "readings", readings: @readings

