%h2
  Sensor
  = @sensor.node_id

%p
  Home:
  = link_to @sensor.home.name, @sensor.home

%p
  Room:
  = @sensor.room_name

= render "readings", readings: @readings

%h2 Temperature
= area_chart(@temperature)

%h2 Humidity
= area_chart(@humidity)
