%section.card
  %header
    %h2
      Sensor
      = @sensor.node_id
      in
      = @sensor.room&.name

  %p
    Home:
    = link_to @sensor.home.name, home_path(@sensor.home), class: "underline"

  %p
    Room:
    - if @sensor.room
      = link_to(@sensor.room.name.empty? ? 'un-named room' : @sensor.room.name,
        home_room_path(@sensor.home, @sensor.room), class: "underline")
    - else
      Not assigned to a room
  %p
    Messages:
    = link_to @sensor.messages.count, messages_path(sensor_id: @sensor.id), class: "underline"

  %footer
    = link_to 'delete', sensor_path(@sensor), method: :delete,
      data: { confirm: 'Delete this sensor?' }, class: 'btn'
      
