%div{ class: 'conditions-table conditions-table-' + (room.good? ? 'good' : 'bad') }
  .conditions-table-header
    %h2= room.name
    %span.conditions-table-current
      - ['temperature', 'humidity'].each do |key|
        %div{ id: "room-#{room.id}-#{key}" } ??
        %span
          = key
          / = room_reading_time_ago(room, 'temperature')
          %div{ id: "room-#{room.id}-#{key}-timestamp"}
        :javascript
          updateRoom(#{room.id}, '#{key}');
          //update every 30 seconds
          setInterval(function () {updateRoom(#{room.id}, 'temperature'); }, 60000);
  %ul.conditions-table-list
    %li
      = room&.room_type&.name

    - if room.too_cold?
      %li.room-warning.room-warning-cold
        Too cold
        = fa_icon 'frown-o'
    - if room.too_hot?
      %li.room-warning.room-warning-hot Too hot

    - unless room.sensors.size.positive?
      %li.room-warning
        No sensors
        = fa_icon 'warning'

    - unless room.current? 'temperature'
      %li.room-warning
        No current temperature
        = fa_icon 'warning'

    - unless room.current? 'humidity'
      %li.room-warning
        No current humidity
        = fa_icon 'warning'

  - if room.sensors.size.positive?
    = link_to room_path(room), class: 'button-analyze pure-button' do
      Analyse
  - elsif policy(room).edit?
    = link_to home_sensors_path(room.home), class: 'button-analyze pure-button' do
      Assign sensor
