.conditions-table{ id: "room-#{room.id}-table" }
  .conditions-table-header
    %h2= room.name
    %span.conditions-table-current
      - %w[temperature humidity].each do |key|
        %div{ id: "room-#{room.id}-#{key}-value" }
          = render "layouts/spinner"
        %span
          = key
          %time.timeago{ datetime: "", id: "room-#{room.id}-#{key}-timestamp" }
  %ul.conditions-table-list{ class: "room-#{room.id}-list" }
    %li
      = room.room_type.name if room.room_type.present?
      - if policy(room).edit?
        = link_to edit_room_path(room) do
          = fa_icon 'edit'
      %li{ id: "room-#{room.id}-too-cold" } Too cold #{fa_icon 'frown-o'}
      %li{ id: "room-#{room.id}-too-hot" } Too hot #{fa_icon 'frown-o'}
      %li{ id: "room-#{room.id}-no-sensors" } No sensors #{fa_icon 'warning'}
      %li{ id: "room-#{room.id}-no-temperature" } No current temperature #{fa_icon 'warning'}
      %li{ id: "room-#{room.id}-no-humidity" } No current humidity #{fa_icon 'warning'}
  - if room.sensors.size.positive?
    = link_to room_path(room), class: 'button-analyze pure-button' do
      Analyse

:javascript
  setupRoomDataReloader(#{room.id});
