-# .conditions-table{ id: "room-#{room.id}-table" }
-#   .conditions-table-header
-#     %h2= room.name
-#     %span.conditions-table-current
-#       - %w[temperature humidity].each do |key|
-#         %div{ id: "room-#{room.id}-#{key}-value" }
-#           = render 'layouts/spinner'
-#         %span
-#           = key
-#           %time.timeago{ datetime: '', id: "room-#{room.id}-#{key}-timestamp" }
-#   %ul.conditions-table-list{ class: "room-#{room.id}-list" }
-#     %li
-#       = room.room_type.name if room.room_type.present?
-#       - if policy(room).edit?
-#         = link_to edit_room_path(room) do
-#           = fa_icon 'edit'
-#       %li{ id: "room-#{room.id}-too-cold" } Too cold #{fa_icon 'frown-o'}
-#       %li{ id: "room-#{room.id}-too-hot" } Too hot #{fa_icon 'frown-o'}
-#       %li{ id: "room-#{room.id}-no-sensors" } No sensors #{fa_icon 'warning'}
-#       %li{ id: "room-#{room.id}-no-temperature" } No current temperature #{fa_icon 'warning'}
-#       %li{ id: "room-#{room.id}-no-humidity" } No current humidity #{fa_icon 'warning'}
-#   - if room.enough_info_to_perform_rating? || room.sensors.size.positive?
-#     = link_to room_path(room), class: 'button-analyze pure-button' do
-#       Analyse

%section.card.summary{ id: "room-#{room.id}-table" }
  %header
    %h2= room.name
    %h4= room.room_type.name if room.room_type.present?
    = link_to edit_room_path(room), class: 'head-action' do
      %img.svg{alt: "edit", src: image_url("icon/edit.svg")}/
  .readings
    .reading{class: temperature_reading_class(room)}
      %span.vis
        %span.loader
      %span.value{ id: "room-#{room.id}-temperature-value" }
        -# = render 'layouts/spinner'
        = display_temperature room
      %span.label Temperature
      %span.time
        -# %time.timeago{ datetime: '', id: "room-#{room.id}-temperature-timestamp" }
    .reading{class: humidity_reading_class(room)}
      %span.vis
        %span.loader
      %span.value{ id: "room-#{room.id}-humidity-value" }
        = display_humidity room
      %span.label Humidity
      %span.time
        -# %time.timeago{ datetime: '', id: "room-#{room.id}-humidity-timestamp" }
  %footer.grade-high{ class: "room-#{room.id}-list" }
    %p{ id: "room-#{room.id}-too-cold" } Too cold #{fa_icon 'frown-o'}
    %p{ id: "room-#{room.id}-too-hot" } Too hot #{fa_icon 'frown-o'}
    %p{ id: "room-#{room.id}-no-sensors" } No sensors #{fa_icon 'warning'}
    %p{ id: "room-#{room.id}-no-temperature" } No current temperature #{fa_icon 'warning'}
    %p{ id: "room-#{room.id}-no-humidity" } No current humidity #{fa_icon 'warning'}
    = link_to room_path(room), class: 'btn' do
      %img.svg{alt: "icon", src: image_url('icon/btn-analyse.svg')}>/
      Analyse

:javascript
  setupRoomDataReloader(#{room.id});