%div{ class: 'conditions-table conditions-table-' + (room.below_dewpoint? ? 'bad' : 'good') }
  .conditions-table-header
    %h2 Dewpoint
    %span.conditions-table-current
      = display_dewpoint room
      %span
        based on
        = display_humidity room
        humidity
  %ul.conditions-table-list
    - if room.below_dewpoint?
      %li
        = fa_icon 'warning'
        Moisture and mould highly like
      %li
        Reduce humidity to reduce mould
    - elsif room.near_dewpoint?
      %li
        = fa_icon 'warning'
        Reduce humidity
      %li
        = fa_icon 'warning'
        Temperature is close to dewpoint
    - else
      %li
        = fa_icon 'check'
        Room is well above dewpoint
    - if room.dewpoint.present?
      - if room.dewpoint < 6
        %li
          = fa_icon 'check'
          Low dewpoint is very good
      - elsif room.dewpoint < 16
        %li
          Acceptable dewpoint
      - else
        %li
          = fa_icon 'warning'
          High dewpoint
        %li
          Keep this room above
          = display_dewpoint room
  %p
    When the temperature in this room falls below
    = display_dewpoint room
    moisture begins to form on surfaces, leading to mould growth.
  - if room.near_dewpoint?
    %p
      = fa_icon 'error'
      If this room is only heated when you are home, it may become
      cold and allow mould to grow while you are away.
