%div{ class: 'conditions-table conditions-table-' + (room.good? ? 'good' : 'bad') }
  .conditions-table-header
    %h2 Rating
    %span.conditions-table-current
      = room.rating
      %span
        - if room.enough_info_to_perform_rating?
          = RatingService.rating_text(@rating)
        - else
          not enough data
  %ul.conditions-table-list
    - unless room.current?('temperature') && room.current?('humidity')
      %li
        = fa_icon 'question'
        No recent readings
    - if room.good?
      %li
        = fa_icon 'check'
        Room appears healthy
    - if room.too_cold?
      %li
        = fa_icon 'thermometer-half'
        Cold
    - else
      %li
        = fa_icon 'check'
        Warm
    - if room.below_dewpoint?
      %li
        = fa_icon 'water'
        Damp. Mould likely.
    - elsif room.near_dewpoint?
      %li
        = fa_icon 'warning'
        Borderline. Just warm enough to prevent mould.
    - else
      %li
        = fa_icon 'check'
        Dry
