%div{ class: 'conditions-table conditions-table-' + (room.too_cold? ? 'bad' : 'good') }
  .conditions-table-header
    %h2 Temperature
    %span.conditions-table-current
      = display_temperature(room)
      %span current temperature
  %ul.conditions-table-list
    %li
      - if room.too_cold?
        = fa_icon 'frown-o'
        Too cold
      - else
        = fa_icon 'check'
        Comfortable temperature
    %li
      = display_humidity room
      humidity
  - if room.room_type
    %p
      This
      = room.room_type.name
      room should be warmer than
      = room.room_type.min_temperature
      C
      to be comfortable
