%h1 Edit Room

= form_for(@room, url: home_room_path(@home, @room)) do |f|
  %section.card
    %header
      %h1 Edit Room

    %ul.form-row
      %li.half
        = f.label :name
        = f.text_field :name, type: 'name', placeholder: 'room name'
      %li.half
        %ul.form-controls
          = f.label :room_type
          - RoomType.all.each do |rt|
            %li
              -# = f.label :room_type_id
              = f.radio_button :room_type_id, rt.id
              =rt.name
    %footer
      %button.btn.submit save
