%h1 Edit Room  
= form_for(@room, url: home_room_path(@home, @room,
                  html: { class: 'pure-form pure-form-aligned' })) do |f|
  %section.card
    %header
      %h3= @home.name
    %ul.form-row
      %li
        = f.label :name
        = f.text_field :name, type: 'name', placeholder: 'room name'
      %li
        = f.label :room_type
        - RoomType.all.each do |rt|
          = f.radio_button :room_type_id, rt.id
          = f.label :room_type_id, rt.name
  %footer
    %button.btn Save
