%h2 Rooms in #{@home.name}

= render 'homes/nav', home: @home


- if @rooms.present?
  %table.pure-table
    %thead
      %tr
        %th.sortable
          Room
          ( Room type )
        %th Sensors
    %tbody
      - @rooms.each do |room|
        %tr
          %td
            - if room.name.present?
              = room.name
            - else
              = home_room_path(@home, room)
            - if room.room_type.present?
              = "(#{room.room_type.name})"
          %td
            - room.sensors.each do |sensor|
              = link_to(sensor.node_id, sensor_path(sensor))
          %td
            - if policy(room).edit?
              = link_to edit_home_room_path(room.home, room), class: 'pure-button' do
                = fa_icon "edit"
          %td
            - if policy(room).destroy?
              = link_to home_room_path(room.home, room),
                method: :delete, data: { confirm: 'Delete room?' },
                class: 'pure-button' do
                = fa_icon "trash"
  %p= paginate(@rooms)
- else
  %p No rooms detected in this whare.
