- if @unassigned_sensors.size.positive?
  %section.card.alert
    %header
      %h2.secondary New sensors found
      -# %a.head-action{href: "#"}
      -#   %img.svg{alt: "close", src: "./img/icon/x.svg"}/
    %ul.sensor-alerts
      - @unassigned_sensors.each do |sensor|
        %li
          %span.sensor
            - if sensor.mac_address.present?
              = sensor.mac_address
            - else
              = sensor.node_id
          %span.time First detected #{time_ago_in_words sensor.created_at} ago
          = link_to(edit_sensor_path(sensor), class: 'btn small', "data-mfp-src" => "#assign-sensor") do
            Assign to room
    -# %footer
    -#   %p
    -#     %a.underline{href: "#"} Dismiss alert
    -#     and don't show again.


- if @rooms.size.positive?
  .summary-grid
    - @rooms.order(:name).includes(:room_type).order(:name).each do |room|
      = render "rooms/card", room: room, cached: true
    = paginate(@rooms)
- else
  %section.card
    %header
      %h2= @home.name
      = link_to edit_home_path(@home), class: 'head-action' do
        %img.svg{alt: "edit", src: image_url("icon/edit.svg")}/
    %p This whare has no monitored rooms.
    %p Activate sensors in your home, and they will appear here.

