= render 'homes/nav', home: @home

- if policy(home).edit? && @unassigned_sensors.size.positive?
  %h2.warning
    = fa_icon 'warning'
    new sensors detected

  .conditions-tables.pure-g
    - @unassigned_sensors.each do |sensor|
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
        = render 'sensors/card', sensor: sensor

%h2.conditions-page-title Rooms in #{@home.name}
- if @rooms.size.positive?
  .conditions-tables.pure-g
    - @rooms.order(:name).each do |room|
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
        = render 'rooms/card', room: room
  = paginate(@rooms)
- else
  %p This whare has no monitored rooms.
  %p Activate sensors in your home, and they will appear here.
