%h2
  = @home.name

= render 'homes/nav', home: @home


- if @rooms.present?
  %table.pure-table
    %thead
      %tr
        %th.sortable
          Room
          ( Room type )
        %th
          Temperature
        %th
          Humidity
        %th
          Mould
        %th
          Rating
    %tbody
      - @rooms.each do |room|
        %tr
          %td
            - if room.name.present?
              = room.name
            - else
              = home_room_path(@home, room)
            - if policy(room).edit?
              = link_to 'edit', edit_home_room_path(room.home, room)
            - if room.room_type.present?
              = "(#{room.room_type.name})"
          %td
            = room.temperature
          %td
            = room.humidity
          %td
            = room.mould
          %td
            = room.rating

- else
  %p No rooms detected in this whare.
