- content_for :title, @room.name

%section.card.report
  %header
    %h2= @room.name
    %h4
      - if @room.room_type.present?
        = @room.room_type.name
      - else
        uncategorised
    = link_to edit_room_path(@room), class: 'head-action' do
      %img.svg{alt: "edit", src: image_url('icon/edit.svg') }/
  .readings
    .reading{ class: temperature_class(@room) }
      %span.vis
        %span.loader
      %span.value= display_temperature(@room)
      %span.label Temperature
      %span.time TODO 5 minutes ago
    .reading{ class: humidity_class(@room) }
      %span.vis
        %span.loader
      %span.value= display_humidity(@room)
      %span.label Humidity
      %span.time TODO 5 minutes ago
    .reading.dew-mid
      %span.vis
        %span.loader
      %span.value= display_dewpoint(@room)
      %span.label Dewpoint
      %span.time TODO 5 minutes ago
  .report-card.grade-high
    .rating
      %span.grade=@room.rating
      %span.value
        - if @room.enough_info_to_perform_rating?
          = RatingService.rating_text(@room.rating)
        - else
          not enough data
      %span.label Rating
    %ul.check
      - unless @room.current?('temperature') && @room.current?('humidity')
        %li.bullet No recent readings
      - if @room.good?
        %li Room appears healthy
      - if @room.too_cold?
        %li.bullet Cold
      - else
        %li Warm
      - if @room.below_dewpoint?
        %li.bullet Damp. Mould likely.
      - elsif @room.near_dewpoint?
        %li.bullet Borderline. Just warm enough to prevent mould.
      - else
        %li Dry
        %li
          Temperature is well above dewpoint
          %a.i.tooltip{ href: "#",
            title: "<h6>Dewpoint</h6><p>When the temperature in this room falls below 11.9°C moisture begins to form on surfaces, leading to mould growth.</p><p><a href='#'>Click for more info</a></p>" }
            %img.svg{alt: "info", src: image_url("icon/i.svg") }/

%section.card
  %header.condensed
    %h2 Readings
    %h4 Past 30 days
    %ul.legend
      %li
        %span.temp>
        Temperature
      %li
        %span.hum>
        Humidity
  .graph
    .scroller
      = line_chart readings_path(home_id: @room.home.id,
        room_id: @room.id, key: 'temperature', start: @start), legend: false, refresh: 60

%h3 Readings
- @readings.each do |reading|
  %li
    = display_reading reading
    = reading.key
    %br
    = timeago_tag reading.created_at, nojs: true, limit: 100.days.ago

%h2 Sensors in this room
- @room.sensors.each do |sensor|
  = render 'sensors/card', sensor: sensor
