%h2
  Room
  = @room.name

.pure-g
  .pure-u-1
    %p
      Home:
      = link_to @room.home.name, home_id: @room.home.id

  .pure-u-1-2
    - @keys.each do |key|
      = line_chart readings_path(home_id: @room.home.id,
                               room_id: @room.id,
                               key: key,
                               day: @day), title: "#{@day} #{key}"
