-# = render 'homes/nav', home: @room.home

%h1.sm
  = link_to home_rooms_path(@room.home), class: 'back' do
    %img.svg{alt: "back", src: image_path("icon/back.svg")}/
  = @room.home.name

%section.card.report
  %header
    %h2= @room.name
    %h4= @room.room_type.name if @room.room_type.present?
    %a.head-action{href: "#"}
      %img.svg{alt: "edit", src: image_path("icon/edit.svg")}/
  .readings
    .reading{class: temperature_reading_class(@room)}
      %span.vis
        %span.loader
      %span.value= display_temperature(@room)
      %span.label Temperature
      %span.time 5 minutes ago
    .reading{class: humidity_reading_class(@room)}
      %span.vis
        %span.loader
      %span.value= display_humidity(@room)
      %span.label Humidity
      %span.time 5 minutes ago
    .reading{class: dewpoint_reading_class(@room)}
      %span.vis
        %span.loader
      %span.value= display_dewpoint(@room)
      %span.label Dewpoint
      %span.time 5 minutes ago
  .report-card.grade-high
    .rating
      %span.grade= @room.rating
      %span.value=rating_text(@room)
      %span.label Rating
    %ul.check
      - if @room.comfortable?
        %li Comfortable
      - if @room.dry?
        %li Comfortable humidity
        %li Acceptable dewpoint
        %li Temp is well above dewpoint
        %a.i.tooltip{href: "#", title: ""}

        %h6 Dewpoint #{display_dewpoint(@room)}
        %p When the temperature in this room falls below #{display_dewpoint(@room)} moisture begins to form on surfaces, leading to mould growth.
        -# %p
        -#   %a{href: "#"}
        -#     Click for more info
        -#     %img.svg{alt: "info", src: image_path("icon/i.svg")}/

%section.card
  %header
    %h2 Chart

  = line_chart readings_path(home_id: @room.home.id,
    room_id: @room.id, key: 'temperature', start: @start), legend: false, refresh: 60

%section.card
  - @room.sensors.each do |sensor|
    = render 'sensors/card', sensor: sensor


%section.card
  %header
    %h2 Readings
  %table
    - @readings.each do |reading|
      %tr
        %td= display_reading reading
        %td= reading.key
        %td= timeago_tag reading.created_at, nojs: true, limit: 100.days.ago

