-# = render 'homes/nav', home: @room.home


= link_to home_path(@room.home), class: 'back' do
  %img.svg{:alt => "back", :src => image_url("icon/back.svg")}/
%h1= @room.home.name

%section.card
  %header
    %h2
      = @room.name
      - if policy(@room).edit?
        = link_to edit_room_path(@room) do
          %img.svg{alt: "edit", src: image_url("icon/edit.svg")}/
    %h4= @room.room_type.name if @room.room_type.present?

  = render 'rating', room: @room
  = render 'temperature', room: @room
  = render 'dewpoint', room: @room

  .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
    .conditions-table
      %h3 Readings
      %ul.conditions-table-list
        - @readings.each do |reading|
          %li
            = display_reading reading
            = reading.key
            %br
            = timeago_tag reading.created_at, nojs: true, limit: 100.days.ago

  .pure-u-1.pure-u-md-1-1.pure-u-lg-2-3
    .pure-u-1.pure-u-md-1.pure-u-lg-1
      = line_chart readings_path(home_id: @room.home.id,
        room_id: @room.id, key: 'temperature', start: @start), legend: false, refresh: 60
      %h2 sensors in this room
      - @room.sensors.each do |sensor|
        .pure-u-1.pure-u-md-1-3.pure-u-lg-1-3
          = render 'sensors/card', sensor: sensor
