= render 'homes/nav', home: @room.home

%h2= @room.name
%h3= @room.room_type&.name

.conditions-tables.pure-g
  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
    %div{ class: 'conditions-table conditions-table-' + (@room.too_cold? ? 'bad' : 'good') }
      .conditions-table-header
        %h2 Temperature
        %span.conditions-table-current
          = display_temperature(@room)
          %span current temperature
      %ul.conditions-table-list
        %li
          - if @room.too_cold?
            = fa_icon 'frown-o'
            Too cold
          - else
            = fa_icon 'check'
            Comfortable temperature
        %li
          = display_humidity @room
          humidity
      - if @room.room_type
        %p
          This
          = @room.room_type.name
          room should be warmer than
          = @room.room_type.min_temperature
          C
          to be comfortable


  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
    %div{ class: 'conditions-table conditions-table-' + (@room.below_dewpoint? ? 'bad' : 'good') }
      .conditions-table-header
        %h2 Dewpoint
        %span.conditions-table-current
          = display_dewpoint @room
          %span
            based on
            = display_humidity @room
            humidity
      %ul.conditions-table-list
        - if @room.below_dewpoint?
          %li
            = fa_icon 'warning'
            Moisture and mould highly like
          %li
            Reduce humidity to reduce mould
        - elsif @room.near_dewpoint?
          %li
            = fa_icon 'warning'
            Reduce humidity
          %li
            = fa_icon 'warning'
            Temperature is close to dewpoint
        - else
          %li
            = fa_icon 'check'
            Room is well above dewpoint
        - if @room.dewpoint.present?
          - if @room.dewpoint < 6
            %li
              = fa_icon 'check'
              Low dewpoint is very good
          - elsif @room.dewpoint < 16
            %li
              Acceptable dewpoint
          - else
            %li
              = fa_icon 'warning'
              High dewpoint
            %li
              Keep this room above
              = display_dewpoint @room
      %p
        When the temperature in this room falls below
        = display_dewpoint @room
        moisture begins to form on surfaces, leading to mould growth.
      - if @room.near_dewpoint?
        %p
          = fa_icon 'error'
          If this room is only heated when you are home, it may become
          cold and allow mould to grow while you are away.

  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
    %div{ class: 'conditions-table conditions-table-' + (@room.good? ? 'good' : 'bad') }
      .conditions-table-header
        %h2 Rating
        %span.conditions-table-current
          = @rating
          %span= RatingService.rating_text(@rating)
      %ul.conditions-table-list
        - unless @room.current?('temperature') && @room.current?('humidity')
          %li
            = fa_icon 'question'
            No recent readings
        - if @room.good?
          %li
            = fa_icon 'check'
            Room appears healthy
        - if @room.too_cold?
          %li
            = fa_icon 'thermometer-half'
            Cold
        - else
          %li
            = fa_icon 'check'
            Warm
        - if @room.below_dewpoint?
          %li
            = fa_icon 'water'
            Damp. Mould likely.
        - elsif @room.near_dewpoint?
          %li
            = fa_icon 'warning'
            Borderline. Just warm enough to prevent mould.
        - else
          %li
            = fa_icon 'check'
            Dry
  .pure-u-1.pure-u-md-1-1.pure-u-lg-1
    = line_chart readings_path(home_id: @room.home.id,
      room_id: @room.id, key: 'temperature', start: @start), legend: false, refresh: 60

  - @room.sensors.each do |sensor|
    .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
      %div{ class: 'conditions-table conditions-table-' + (@room.sensor? ? 'good' : 'bad') }
        .conditions-table-header
          %h2 Sensor NodeID
          %span.conditions-table-current
            = sensor.node_id
        %ul.conditions-table-list
          %li
            last message
            = time_ago_in_words sensor.last_message
            ago
