= render 'homes/nav', home: @home

%h2= @room.name
%h3= @room.room_type&.name

.conditions-tables.pure-g
  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
    %div{ class: 'conditions-table conditions-table-' + (@coldest.too_cold? ? 'bad' : 'good') }
      .conditions-table-header
        %h2 Coldest moment
        %span.conditions-table-current
          = sprintf "%.2fC", @coldest.value
          %span
            = time_ago_in_words @coldest.created_at
            ago
      %p
        The coldest recorded temperature was on
        = @coldest.created_at
  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-2-3
    %div{ class: 'conditions-table conditions-table-' + (@room.below_dewpoint? ? 'bad' : 'good') }
      .conditions-table-header
        %h2 Dewpoint
        %span.conditions-table-current
          = sprintf "%.2fC", @room.dewpoint
          %span
            based on
            = sprintf "%.2f%%", @room.humidity
            humidity
      %p
        When the temperature in this room falls below
        = sprintf "%.2fC", @room.dewpoint
        moisture begins to form on surfaces, leading to mould growth.

  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
    %div{ class: 'conditions-table conditions-table-' + (@dampest.too_cold? ? 'bad' : 'good') }
      .conditions-table-header
        %h2 Dampest moment
        %span.conditions-table-current
          = sprintf "%.2f%%", @dampest.value
          %span
            = time_ago_in_words @dampest.created_at
            ago
      %p
        The dampest recorded humidity was on
        = @dampest.created_at

  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-2-3
    %div{ class: 'conditions-table conditions-table-' + (@room.too_cold? ? 'bas' : 'good') }
      .conditions-table-header
        %h2 Temperature
        %span.conditions-table-current
          = sprintf "%.2fC", @room.temperature
          %span current temperature
      = line_chart readings_path(home_id: @room.home.id,
        room_id: @room.id,
        key: 'temperature',
        start: 5.days.ago)
  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
    %h2 Humidity
    %span.room-metric-number
      = sprintf "%.2f%%", @room.humidity
      %span current humidity
    = line_chart readings_path(home_id: @room.home.id,
      room_id: @room.id,
      key: 'humidity', day: @day)

  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
    %h2 Mould growth
    %p TODO
  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
    %h2 Comfort Rating
    %p TODO
  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
    %h2 Outdoor conditions
    %p TODO
  .room-analysis-metric.pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
    %h2 Time of day
    %p TODO
