= render 'homes/nav', home: @home

%h2= @home.name

%h3 Whānau

.pure-menu.pure-menu-horizontal
  %ul.pure-menu-list
    %li.pure-menu-item
      = link_to 'add someone to whare', new_home_home_viewer_path(@home), class: 'pure-button'

- if @invitations.any?
  %h3 Invitations
  %table.pure-table
    %thead
      %tr
        %th.sortable Email
        %th.sortable Sent
        %th Actions
    %tbody
      = render partial: 'invitations/invitation', collection: @invitations

- if @home.users.present?
  %h3 Users
  %table.pure-table
    %thead
      %tr
        %th.sortable
          Email
    %tbody
      - @home.users.each do |v|
        %tr
          %td
            = v.email
          %td
            delete
- else
  %p No whānau

