%h2 Add flatmates, whānau or someone else to your whare

%h2
  = @home.name

= form_for User.new, url: { action: 'create' }, class: 'pure-form' do |f|
  = hidden_field_tag :home_id, @home.id
  %form.pure-form
    %fieldset
      = f.label :user, 'Email'
      = f.email_field :email
    %fieldset
      %button.btn.btn-primary{ type: 'submit' } Add
