
%h2 MQTT Provisioning

%p
  Sensors send readings to us over MQTT. This is an overview of provisioned
  accounts and credentials on our Mqtt Server.
%p
  Each account has write-only access

%table.pure-table
  %thead
    %tr
      %th.sortable MQTT Email
      %th MQTT Passcode
      %th Homes
      %th Provisioned
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.email
        %td
          = user&.mqtt_user&.password if user.mqtt_user
        %td
          - user.owned_homes.each do |home|
            = link_to home_path(home) do
              = home.name
              = fa_icon 'home'
        %td
          = user&.mqtt_user&.provisioned_at if user.mqtt_user
        %td
          = link_to 'Provision', admin_mqtt_users_path(user_id: user.id),
            method: 'post', class: 'pure-button'
