%table.pure-table
  %thead
    %tr
      %th.sortable Email
      %th.sortable Roles
  %tbody
    - users.includes(:roles).each do |user|
      %tr
        %td
          = link_to user.email, edit_admin_user_path(user)
        %td
          - user.roles.map(&:friendly_name).each do |friendly_name|
            = friendly_name
        %td
          = link_to edit_admin_user_path(user) do
            = fa_icon 'edit'
        %td
          = link_to admin_user_path(user), method: :delete do
            = fa_icon 'trash'
= paginate users
