%h2 Editing User
= form_for @user, url: { action: 'update' } do |f|
  %section.card
    %header
      %h2= @user.email
    %ul.form-row
      %li
        = f.label :email
        = f.text_field :email

      %label Roles
      - @roles.each do |r|
        %li
          %label
            = r.friendly_name
            = check_box_tag 'user[role_ids][]', r.id, f.object.roles.include?(r)
    %footer
      %button.btn save
      = link_to admin_users_path, class: 'btn' do
        cancel
