%h2 User
.pure-form.pure-form-aligned
  = form_for @user, url: { action: 'update' } do |f|
    %fieldset
      = f.label :email
      = f.text_field :email

    %ul
      - @roles.each do |r|
        %li
          %label
            = check_box_tag 'user[role_ids][]', r.id, f.object.roles.include?(r)
            = r.friendly_name
    .actions
      = link_to 'cancel', admin_users_path, class: 'btn btn-default'
      = f.submit 'update', class: 'btn btn-primary'
