-# .pure-menu.pure-menu-horizontal
-#   %ul.pure-menu-list
-#     - if user_signed_in?
-#       = render 'menus/homes', homes: homes if homes
-#       = render 'menus/admin' if current_user.role?('janitor')
-#     - else
-#       %li.pure-menu-item
-#         = link_to 'Sign up', new_user_registration_path, class: 'pure-menu-link'
-#       %li.pure-menu-item
-#         = link_to 'Sign in', new_user_session_path, class: 'pure-menu-link'


-#     - if user_signed_in?
-#       %li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
-#         %a.pure-menu-link
-#           = current_user.email
-#         %ul.pure-menu-children
-#           %li.pure-menu-item
-#             = link_to 'Change password', edit_user_registration_path,
-#               class: 'pure-menu-link'
-#           %li.pure-menu-item
-#             = link_to 'Sign out', destroy_user_session_path,
-#               class: 'pure-menu-link', method: :delete

.overlay
%nav.menu
  %header
    %a.logo{href: ""} Whare Hauora
    %h6 Menu
    %a.x{href: "#"}
      %img.svg{ alt: "close", src: image_url("icons/x.svg") }/
  .nav
    %ul.nav-links
      - if user_signed_in?
        - if current_user.homes.size == 1
          %li= link_to 'Dashboard', home_rooms_path(current_user.homes.first)
        -else
          %h6 Homes
          - current_user.homes.each do |home|
            %li=link_to home.name, home_rooms_path(home)
        - if @home.present?
          %h6 Rooms
          %ul.nav-links
            - @home.rooms.each do |room|
              %li=link_to room.name, home_room_path(@home, room)

          %h6 Setup
          %ul.nav-links
            %li=link_to 'Whare  Rooms', home_rooms_path(@home)
            %li=link_to 'Whānau', home_home_viewers_path(@home)
        %h6 Account
        %ul.nav-links
          %li= link_to 'My Account', edit_user_registration_path
          %li= link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Sign up', new_user_registration_path
        %li= link_to 'Sign in', new_user_session_path
  %footer
    %select.lang-picker
      %option{"data-iconurl" => image_url("/images/icons/lang-eng.svg"), value: "English"} English
      %option{"data-iconurl" => image_url("/images/icons/lang-mri.svg"), value: "Te Reo Māori"} Te Reo M&#x101;ori
      %option{"data-iconurl" => image_url("/images/icons/lang-smo.svg"), value: "Samoan"} Samoan
