.pure-menu.pure-menu-horizontal
  %ul.pure-menu-list
    %li.pure-menu-item.pure-menu-selected
      = link_to 'WHARE HAUORA', root_path, class: 'pure-menu-heading pure-menu-link'
    - if user_signed_in?
      %li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
        %a.pure-menu-link
          My Whare
        %ul.pure-menu-children
          - @my_homes.each do |home|
            %li.pure-menu-item
              = link_to home.name, home_path(home), class: 'pure-menu-link'
          %li.pure-menu-item
            = link_to 'new whare', new_home_path, class: 'pure-menu-link'
    - else
      %li.pure-menu-item
        = link_to 'Sign up', new_user_registration_path, class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to 'Sign in', new_user_session_path, class: 'pure-menu-link'

    - if current_user && policy(:user).edit?
      %li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
        %a.pure-menu-link Admin
        %ul.pure-menu-children
          %li.pure-menu-item
            = link_to 'Home Types', admin_home_types_path, class: 'pure-menu-link'
          %li.pure-menu-item
            = link_to 'Room Types', admin_room_types_path, class: 'pure-menu-link'
          %li.pure-menu-item
            = link_to 'Users', users_path, class: 'pure-menu-link'

    - if user_signed_in?
      %li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
        %a.pure-menu-link
          My Account
        %ul.pure-menu-children
          %li.pure-menu-item
            = link_to 'Sign out', destroy_user_session_path,
              class: ' pure-menu-link', method: :delete
