%nav.menu
  %header
    = link_to 'Whare Hauora', root_path, class: 'logo'
    %h6 Menu
    %a.x{href: "#"}
      %img.svg{alt: "close", src: image_url("icon/x.svg") }/

  .nav
    - if user_signed_in?
      = render 'homes/menu'
      %h6 Account
      %ul.nav-links
        %li
          = link_to 'Change password', edit_user_registration_path
        -# %li
        -#   %a{href: "./help.html"} Help
        %li
        = link_to 'Logout', destroy_user_session_path, method: :delete
      - if current_user.janitor?
        %h6 Admin
        %ul.nav-links
          %li= link_to 'Whare', homes_path
          %li= link_to 'Whare Types', admin_home_types_path
          %li=link_to 'Room Types', admin_room_types_path
          %li=link_to 'Users', admin_users_path
          %li=link_to 'MQTT', admin_mqtt_users_path
          %li=link_to 'Messages', messages_path

    - else
      %ul.nav-links
        %li
          = link_to 'Sign up', new_user_registration_path
        %li
          = link_to 'Sign in', new_user_session_path

  %footer
    %select.lang-picker
      %option{"data-iconurl" => image_url('icon/lang-eng.svg'), value: "English"} English
      %option{"data-iconurl" => image_url('icon/lang-mri.svg'), value: "Te Reo Māori"} Te Reo Māori
      %option{"data-iconurl" => image_url('icon/lang-smo.svg'), value: "Samoan"} Samoan
