<!DOCTYPE html>
<html>
<head>
  <title>WharehauoraServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="pure-menu pure-menu-horizontal">
    <%= link_to "WHARE HAUORA", root_path, class:"pure-menu-heading pure-menu-link" %>
    <ul class="pure-menu-list">
      <% if user_signed_in?%>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Account</a></li>
        <li class="pure-menu-item"><%= link_to 'Homes', homes_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to 'Rooms', rooms_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to 'Sensors', sensors_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to 'Readings', readings_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to 'Sign out', destroy_user_session_path, class: " pure-menu-link", method: :delete %></li>
      <% else %>
        <li class="pure-menu-item"><%= link_to 'Sign in', new_user_session_path, class: "pure-menu-link" %></li>
      <% end %>
    </ul>
</div>

<%= yield %>

</body>
</html>
