!!!
%html{lang: "en"}
  %head
    %title WharehauoraServer
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    -# %link{href: "./favicon.ico", rel: "shortcut icon"}/
    -# / meta
    -# %meta{charset: "utf-8"}/
    -# %meta{content: "", name: "description"}/
    -# %meta{content: "on", "http-equiv" => "cleartype"}/
    -# / webfont
    -# %link{href: "https://fonts.googleapis.com/css?family=Merriweather:700|Roboto:300,400,700&subset=latin-ext", rel: "stylesheet"}/
    -# / css
    -# %link{href: "./css/style.css", rel: "stylesheet"}/
    -# / js
    -# %script{src: "./js/modernizr-2.8.3.js"}
    -# %script{src: "./js/detectizr-2.1.0.min.js"}
    -# / mobile & iOS
    -# %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    -# %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}/
    -# %link{href: "./app-icon.png", rel: "apple-touch-icon-precomposed"}/

  %body
    -# .pure-g
    -#   .pure-u-1.menu
    -#     = render 'layouts/menu', homes: @my_homes
    -#   .pure-u-1.header
    -#     = image_tag(image_url('logo.png'))
    -#   .pure-u-1.content
    -#     - flash.each do |name, msg|
    -#       = content_tag :div, msg, class: name
    -#     = yield
    %header.header
      = link_to 'Whare Hauora', root_path, class: 'logo-sm'
        
    .overlay= render('layouts/menu')
    .content
      .center
        %h1 Kia ora!
        %section.card
          = yield
    %script{src: "./js/jquery-2.1.3.min.js"}
    %script{src: "./js/jquery-ui-widget.min.js"}
    %script{src: "./js/jquery.selectBoxIt.min.js"}
    %script{src: "./js/jquery.icheck.min.js"}
    %script{src: "./js/jquery.magnific-popup.min.js"}
    %script{src: "./js/tooltipster.bundle.min.js"}
    %script{src: "./js/init.js"}
